body{
	font-family: arial;
	color: #333;
	text-align: center;
}
h1{
	text-align: center;
}
.types{
	border: 2px solid #333;
	background-color: #fffce5;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 300px;
	margin: 10px;
}
.types:nth-child(2) h2{
	background-color: #b8b8e6;
}
.types:nth-child(3) h2{
	background-color: #b8e6ca;
}
.types:nth-child(4) h2{
	background-color: #e8b08f;
}
.types h2{
	border-bottom: 2px solid #333;
	border-left: 2px solid #333;
	float: right;
	margin: 0;
	padding: 2px 10px;
}
.types p{
	padding: 30px 10px 0 10px;
}

@media screen and (min-width: 1200px){
	.types{
		width: 30%;
	}
}
@media screen and (max-width: 991px){
	.types:nth-child(4){
		width: 624px; /*300px+300px / 10+10px margin / 2+2px border*/
	}
}
@media screen and (max-width: 768px){
	.types, .types:nth-child(4){
		width: 80%;
	}
}